/* size of map container */
.leaflet-container {
    position: relative;
    height: 100%;
    width: 100%;
}

/* For invalid inputs */
.invalid-input {
    border: 1px solid red !important;
}

.invalid-label {
    color: red !important;
}

.invalid-map {
    border: 1px solid red;
}