@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/SF-Pro-Display-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/SF-Pro-Display-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/SF-Pro-Display-Light.ttf') format('truetype'); 
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/SF-Pro-Display-Medium.ttf') format('truetype'); 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
